<ion-header >
  <ion-navbar color="dark">
    <ion-title>Agenda</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <div style="height: 5px; background: #bd2217" ></div>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label stacked>Data</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataSelecionada"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button color="danger" ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
