<ion-header >
    <ion-navbar color="dark">
        <ion-title>Notícias</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <div style="height: 5px; background: #bd2217" ></div>
</ion-header>


<ion-content>
    <ion-list >
        <ion-card  *ngFor="let noticia of listaNoticias" style="background: #ffffff;">
            <ion-item style="background: #ffffff">
                <h1>{{noticia.titulo}}</h1>
            </ion-item>
            <img class="img-noticias" [src]="buscarProximaImg()" >
            <ion-card-content style="background: #ffffff">
              <p align="justify">{{noticia.descricao}}</p>
            </ion-card-content>
            <ion-row style="background: #ffffff">
              <ion-col>
                <button color="danger" ion-button clear small>
                  <ion-icon name="star"></ion-icon>
                  <div>Favoritar</div>
                </button>
              </ion-col>
              <ion-col>
                <button color="danger" ion-button clear small>
                  <ion-icon name="share"></ion-icon>
                  <div>Share</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  11h atrás
                </ion-note>
              </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

</ion-content>
