<ion-header>
    <ion-navbar>
        <ion-title>Grade</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="dia">
        <ion-segment-button value="1">
          SEG
        </ion-segment-button>
        <ion-segment-button value="2">
          TER
        </ion-segment-button>
        <ion-segment-button value="3">
          QUA
        </ion-segment-button>
        <ion-segment-button value="4">
          QUI
        </ion-segment-button>
        <ion-segment-button value="5">
          SEX
        </ion-segment-button>
        <ion-segment-button value="6">
          SAB
        </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]="dia">
        <ion-list *ngSwitchCase="1">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>SEGUNDA</h2>
            </ion-item>        
        </ion-list>
        <ion-list *ngSwitchCase="2">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>TERCA</h2>
            </ion-item>        
        </ion-list>
        <ion-list *ngSwitchCase="3">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>QUARTA</h2>
            </ion-item>        
        </ion-list>
        <ion-list *ngSwitchCase="4">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>QUINTA</h2>
            </ion-item>        
        </ion-list>
        <ion-list *ngSwitchCase="5">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>SEXTA</h2>
            </ion-item>        
        </ion-list>
        <ion-list *ngSwitchCase="6">
            <ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>SABADO</h2>
            </ion-item>        
        </ion-list>  
    </div>

</ion-content>