<ion-menu [content]="content">

<!-- The side menu title -->

  <ion-navbar color="dark">
    <ion-title>Menu</ion-title>
  </ion-navbar>
  <div class="background-faixa" ></div>

  <ion-content class="background-menu">
    <ion-list no-lines >
      <ion-item style="background-color: transparent !important;">
        <div item-left>
          <img class="avatar-img" src="assets/img/aline_silva_logo.jpg" >
        </div>
        <h2 class="avatar-text">{{alunoService.alunoLogado.nome}}</h2>
        <p>{{alunoService.alunoLogado.escola.nome}}</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <button  ion-item *ngFor="let menu of menusPrincipais" (click)="mudaMenu(menu)">
          <ion-icon [name]="menu.icon" item-left></ion-icon>
        {{menu.nome}}
      </button>

      <ion-item-divider style="background-color: transparent !important;">
        Opções
      </ion-item-divider>

      <button *ngFor="let menu of menusExtras" ion-item icon-left (click)="mudaMenu(menu)">
        <ion-icon [name]="menu.icon"></ion-icon>
        {{menu.nome}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
